<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.smartHomerow.daemon</string>
	
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/python3</string>
		<string>INSTALL_PATH/main.py</string>
	</array>
	
	<key>RunAtLoad</key>
	<true/>
	
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	
	<key>StandardOutPath</key>
	<string>INSTALL_PATH/logs/smartHomerow.log</string>
	
	<key>StandardErrorPath</key>
	<string>INSTALL_PATH/logs/smartHomerow_error.log</string>
	
	<key>WorkingDirectory</key>
	<string>INSTALL_PATH</string>
	
	<key>StartInterval</key>
	<integer>10</integer>
	
	<key>ProcessType</key>
	<string>Background</string>
</dict>
</plist>
